html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  padding: 50px 0;
  
  justify-content: center;
  display: flex;
}

form {
  color: aliceblue;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-items: center;

}

.table-cell-trucate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MuiDataGrid-row{
  cursor: pointer;
}

.spinner {
  align-self: center;
  margin: 1rem;
  width: 32px;
  height: 32px;
  border: 8px solid;
  border-color: #001e3c transparent #001e3c transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}